.loading1 {
  width: 200px;
  height: 200px;
  background-color: transparent;
  border: 50px solid #161717;
  border-top: 50px solid #12fff7;
  border-radius: 50%;
  animation: loading1 2s infinite linear;
  margin: 0 auto;
  margin-top: 100px;
}

@keyframes loading1 {
  to {
    transform: rotate(360deg);
  }
}
